:root {
    --primary: rgba(101, 120, 156, 0.753);
    --secondary: rgb(86, 125, 196);
}

/* Main header with navigation links */
header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-logo {
    margin: 10px;
    padding-left: 100px;
    font-size: 40px;
    border-radius: 5px;
    background-color: var(--secondary);
    color: blanchedalmond;
    width: 20%;
}

nav {
    color: cornflowerblue;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    width: 80%;
}

nav a {
    margin: 0 15px;
    color: blanchedalmond;
}

nav a:hover {
    background-color: var(--secondary);
}

/* Image banner with text */

img {
    object-fit: cover;
    object-position: 40% 40%;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    color: blanchedalmond;
    width: 100%;
}

.banner-message {
    background-color: var(--secondary);
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 40px;
    border-radius: 5px;
}

/* General padding  */

main {
    padding: 50px;
}

/* About me styling */

.top-bottom-section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80;

}

aside {
    text-align: right;
    font-size: 50px;
    border-right: 2px solid cornflowerblue;
    padding: 20px;
    width: 15%;
    color: cornflowerblue;
}

div {
    padding: 10px;
}

article {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 15px;
    font-size: 20px;
    color: cornflowerblue;
}

/* Portfolio styling */

.portfolio-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section nav {
    background-color: var(--primary);
}

footer {
    text-align: right;
    font-size: 10px;
    background-color: var(--primary);
}